body {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 205vh;
}

body.bodyLogin {
    min-height: 120vh;
}

header {
    background-color: black;
}

.contenedor {
    width: 90%;
    margin: auto; /* CSS asigna automáticamente el mismo valor a los márgenes izquierdo derecho contenedor. */
}

.contenedor a.image-link {
    width: 40%;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alineamos de forma vertical los elementos del contenedor del header  */
}

.contenedor img {
    width: 30%;
    height: 100%;
}

nav a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

/* La pseudo-clase hover permite aplicar un estilo cuando el cursor pasa por encima  */
nav a:hover {
    color: red;
}

.menu {
    display: flex;
    gap: 1em;
}

.Carrusel .contenedor {
    width: 100%;
}

.Carrusel .contenedor img {
    width: 100%;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: start; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    margin-top: 6.5em;
}

/* Tienda */

.categorias {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 12em;
    list-style-type: none; /* Quita los puntos de la lista */
    padding-top: 5em;
    text-align: center;
    border: 2px solid transparent; /* Borde por defecto */
    border-radius: 2em; /* Bordes redondeados */
}

.categorias img {
    width: 7.5em; /* Ajusta este valor según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    border: 4px solid transparent; /* Borde transparente por defecto */
    cursor: pointer;
}

.categorias h5 {
    font-size: 0.9em;
}

/* ESTILOS DE BOOTSTRAP SOBREESCRITOS*/

main ul {
    width: 25%;
}

.tab-content {
    width: 25%;
}

button.btn {
    background-color: black;
}

.productos {
    margin-top: 10em;
}

/* TARJETAS PRODUCTO TIENDA */

.producto-carta {
    min-height: 26em;
    margin-bottom: 5em;
}

.producto-carta .card-body {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.container .row .mb-4 .card {
    border: none;
    box-shadow: none;
}

/* Cambiar color de fondo y texto de los botones de Login y Register */
ul.nav-pills .nav-item .nav-link {
    background-color: black;
    color: white;
}

/* Cambiar el color del botón activo (cuando se selecciona Login o Register) */
ul.nav-pills .nav-item .nav-link.active {
    background-color: #555;
    color: white;
}

/* Cambiar el color cuando se hace hover */
ul.nav-pills .nav-item .nav-link:hover {
    background-color: white;
    color: black;
    border: solid 1px black;
}

button.btn:hover {
    background-color: white;
    color: black;
    border: solid 1px black;
}

.categorias img:hover {
    border-bottom-color: black; /* Cambia el borde a negro al hacer hover */

    transform: translateY(
        -1em
    ); /* Mueve la imagen hacia arriba al hacer hover */
    /* filter: brightness(70%); Alternativa simple para oscurecer la imagen */
    transition: all 0.3s ease;
    /* permite que los cambios en cualquier propiedad CSS del elemento se animen suavemente durante un tiempo de 0.3 segundos*/
}

.productos img:hover {
    transform: translateY(-3.5em);
    transition: all 0.4s ease;
    cursor: pointer;
}

.categoria-seleccionada {
    filter: brightness(0.9); /* 0.5 significa 50% de brillo */
    border: 2px solid transparent; /* Borde por defecto */
    border-radius: 2em; /* Bordes redondeados */
}
